@page "/audit/changed"
@layout SidebarLayout

<PageTitle>Audit - Recently Changed Items</PageTitle>

<ilw-content>
    <h1>Recently Changed Items</h1>

@if (LogItems != null)
{
    <table>
        <tr>
            <th scope="col">Date Changed</th>
            <th scope="col">Title</th>
            <th scope="col">Net ID</th>
            <th scope="col">Category Type</th>
            <th scope="col">Field Type</th>
        </tr>
        @foreach (var log in LogItems)
        {
            <tr>
                <td style="width: 150px;">@log.DateCreated</td>
                <td>@log.Title</td>
                <td>@log.ChangedByNetId</td>
                <td>@log.CategoryType</td>
                <td>@log.FieldType</td>
            </tr>
        }
    </table>
}
</ilw-content>
